<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="isc-apptools-lockdown.ZPM">
    <Module>
      <Name>isc-apptools-lockdown</Name>
      <Version>1.0.9</Version>
      <Description>A program to enhance security and create users and add SQL privileges.</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
        <Resource Name="appmsw.security.PKG"/>
    </Module>
  </Document>
</Export>
