<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="contest-rest-template.ZPM">
    <Module>
      <Name>contest-rest-template</Name>
      <Version>1.0.3</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      
      <Resource Name="Sample.PKG"/>
     
       <CSPApplication 
        Url="/crud"
        Recurse="1"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="0"
        UnauthenticatedEnabled="0"
        DispatchClass="Sample.PersonREST"
        ServeFiles="1"
        CookiePath="/crud"
        UseCookies="2"
       />
    </Module>
    
  </Document>
</Export>